Go Bitmap "Go.bmp"
PlusGo Bitmap "PlusGo.bmp"
Foo Icon "Test.ico"
Foo0 Icon "Test2.ico"
Foo1 Icon "Test2.ico"
Foo2 Icon "Test2.ico"
Foo3 Icon "Test2.ico"
Foo4 Icon "Test2.ico"
Foo5 Icon "Test2.ico"
Foo6 Icon "Test2.ico"
Foo7 Icon "Test2.ico"
Foo8 Icon "Test2.ico"
Foo9 Icon "Test2.ico"
